In [2]:
import pandas as pd
import numpy as np

In [10]:
data = np.arange(1,10).reshape(3,3)

In [11]:
dt_from_array = pd.DataFrame(data, columns=["A", "B", "C"])

In [12]:
dt_from_array

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [13]:
data = [[1,"Jhon", 22], [2,"Anna", 24]]

In [15]:
df_from_list = pd.DataFrame(data, columns = ["ID", "Name", "Age"])

In [16]:
df_from_list

   ID  Name  Age
0   1  Jhon   22
1   2  Anna   24

In [17]:
data = [{"ID":1,
         "Name":"Jhon",
         "Age": 22},
         {"ID":1,
          "Name": "Adrian",
          "Age": 25             
         }]

In [18]:
dt_from_dict_list = pd.DataFrame(data)

In [19]:
dt_from_dict_list

   ID    Name  Age
0   1    Jhon   22
1   1  Adrian   25

In [23]:
data = {'ID': [1,2,3], "Name": ["Jhon", "Adrian", "Jose"], "Edad": [22,26,30]}

In [24]:
dt_from_dict = pd.DataFrame(data)

In [25]:
dt_from_dict

   ID    Name  Edad
0   1    Jhon    22
1   2  Adrian    26
2   3    Jose    30

In [26]:
data = {"ID": pd.Series([1,2,3]), "Name": pd.Series(["Jhon", "Anna", "Mike"]), "Edad":[22,25,30]}

In [27]:
df_from_series_dict = pd.DataFrame(data)

In [28]:
df_from_series_dict

   ID  Name  Edad
0   1  Jhon    22
1   2  Anna    25
2   3  Mike    30

In [ ]:
from google.colab import drive

drive.mount('content/drive')
file_path = '/content/drive/My_Drive/online_retail.csv'
sales_data = pd.read_csv(file_path)
sales_data.head()