In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("online_retail.csv")

In [4]:
columns_name = data.columns

In [29]:
columns_name

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [7]:
num_row, num_col = data.shape

In [8]:
print(f"Numero de filas: {num_row}")
print(f"Numero de columnas: {num_col}")

Numero de filas: 541909
Numero de columnas: 8

In [9]:
daily_sales = data["Quantity"]

In [10]:
daily_sales

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64

In [11]:
summary = data.describe()

In [12]:
summary

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [13]:
mean_value = daily_sales.mean()

In [15]:
print("La media es:", mean_value)

La media es: 9.55224954743324

In [18]:
median_value = daily_sales.median()

In [19]:
print("La mediana es: ", median_value)

La mediana es:  3.0

In [20]:
sum_values = daily_sales.sum()

In [22]:
print("La suma total es: ",sum_values)

La suma total es:  5176450

In [23]:
no_null_values = daily_sales.count()

In [24]:
print("Valores no nulo: ",no_null_values)

Valores no nulo:  541909

In [25]:
daily_sales = pd.Series([10,20, None, 40,50])

In [26]:
# Suma Quantity
total_sum = daily_sales.sum()
print("Suma de Quantity: ", total_sum)

Suma de Quantity:  120.0

In [30]:
# Conteo de Quantity
count_values = daily_sales.count()
print("Conteo de Quantity: ", count_values)

Conteo de Quantity:  4